/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";

// body {
//   background-image: url(https://static1.squarespace.com/static/556c8a61e4b0a58d63e16051/56c26932c6fc08a1ad2b770c/589baffa37c58162f7a6411c/1486598139679/DSC_2949.jpg?format=2500w);
//   background-repeat: no-repeat;
//   background-attachment: fixed;
//   background-position: center; 
//   background-size: 100%;
// }

.logoImage img {
    height: auto;
    max-height: 100px;
    width: auto;
    max-width: 100%;
}

.row .col-xs-4 img {
  width: 100%;
}

#checkout {
  font-size: 2em;
  margin-bottom: 5%;
}

button a {
  color: white;
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}