<p id="notice"><%= notice %></p>

<!-- <h1 class="text-center">Products</h1> -->

<div class='row'>
  <% @products.each do |product| %>
    <div class="col-xs-6">
      <%= render "product_row", product: product, order_item: @order_item %>
    </div>
  <% end %>
</div>