<div>
  <h1 class='logoImage'>
    <%= link_to image_tag("https://static1.squarespace.com/static/556c8a61e4b0a58d63e16051/t/58ed4d106a4963f6bd94c008/1493848692317/?format=1500w"), '/' %>
  </h1>
  <h2>Thanks, you paid <strong>$<%= @amount.to_f/100 %></strong>!</h2>
</div>