<div>
    <h2>Thanks, you paid <strong><%=h number_to_currency(@amount.to_f/100) %></strong>!</h2>
    <h2>Your Order number is: <%= @order_id %></h2>
  </div>
  <button type="button" class="btn btn-primary"><%= link_to 'Shop again?', '/' %></button>
  <hr>
</div>